<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">0</div>
				<div class="comment">Bridges</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Inspected</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Cost</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">High Priority</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      <rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table ng-cloak class="table">
            <thead>
              <tr class="foot">
                <th><a href="#">FRA ID</a></th>
                <th><a href="#">Bridge Name</a></th>
                <th><a href="#">Review Status</a></th>
                <th><a href="#">Fulcrum Status</a></th>
                <th><a href="#">Inspector</a></th>
                <th><a href="#">Highest Priority</a></th>
                <th><a href="#">Inspection Date</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="bridge in geoJson.data.features">
                <td>
                  <a ng-href="{{fulcrumURLService.url(bridge.properties.fulcrum_id)}}" target="_blank">{{bridge.properties.sec_overview_fra_id}} <span class="glyphicon glyphicon-new-window"></span></a>
                </td>
                <td>{{bridge.properties.sec_overview_bridge_name}}</td>
                <td>{{bridge.properties.inspection_status}}</td>
                <td>{{bridge.properties.status}}</td>
                <td>{{bridge.properties.inspector_name}}</td>
                <td>{{bridge.properties.highest_element_priority}}</td>
                <td>{{bridge.properties.date | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
